<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>depprop</Title>
      <Shortcut>depprop</Shortcut>
      <Description>Atc.XamlToolkit: DependencyProperty from a private field (WPF / WinUI).</Description>
      <Author>Atc.XamlToolkit</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>type</ID>
          <ToolTip>Property type</ToolTip>
          <Default>string</Default>
        </Literal>
        <Literal>
          <ID>name</ID>
          <ToolTip>camelCase backing-field name</ToolTip>
          <Default>title</Default>
        </Literal>
        <Literal>
          <ID>init</ID>
          <ToolTip>Initial value</ToolTip>
          <Default>string.Empty</Default>
        </Literal>
      </Declarations>
      <Code Language="csharp"><![CDATA[[DependencyProperty]
private $type$ $name$ = $init$;$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>